.App {
}

nav {
  text-align: center;
  padding: 1px;  
  background-color: plum;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
}

.book-component {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 5px 15px 5px;
  margin: 0px 5px 5px;
  border: solid 1px black;
  background-color: white;
}
.shelves-component {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.shelf-component {
  /* width: calc(100% / 3); */
  border: solid 1px black;
  padding: 0px 15px;
  margin: 0px 2px;
  background-color: antiquewhite;
}

.shelf-component h2 {
  text-align: center;
}


.book-thumbnail {
  align-self: center;
  height: 200px;
}

.book-component select {
  margin: 25px 0 0 0;
  align-self: flex-start;
}