.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  text-align: center;
  padding: 1px;  
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
  padding: 0;
}

.book-component {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 5px 25px 5px;
  margin: 0px 25px;
  border: solid 1px black;
}
.shelves-component {
  display: flex;
}


.shelf-component {
  width: calc(100% / 3);
  border: solid 1px black;
}

.shelf-component h2 {
  text-align: center;
}


.book-thumbnail {
  align-self: center;
  height: 200px;
}

.book-component button {
  margin-top: 25px;
  align-self: flex-end;
}